html {
    --font: #222222;
    --line: #EEEEEE;

    --bg: #FFFFFF;
    --bg2: #E1E1E1;

    --block: #F5F5F5;
    --block2: #E5E5E5;
}

html[theme=dark] * {
    color-scheme: dark;

    --font: #FFFFFF;
    --line: #333333;

    --bg: #000000;
    --bg2: #222222;

    --block: #222222;
    --block2: #333333;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    color: var(--font);
    word-wrap: break-word;
}

body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Arial", "Microsoft JhengHei", "sans-serif";
    background-color: var(--bg);
}

.none {
    display: none;
}

.no-transition * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.fixed {
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden !important;
}

::selection {
    color: var(--bg);
    background: var(--font);
}

svg {
    fill: var(--font);
}

/* Input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.input[type=number] {
    -moz-appearance: textfield;
    appearance: none;
}